#[desc = "Lua5.1 bindings for Rust"];
#[licence = "MIT"];
#[author = "Thiez"];

extern mod std;

#[path = "lua_raw.rs"]
mod lua_raw;
#[path = "lua_wrapper.rs"]
mod lua_wrapper;
#[path = "rustlua.rs"]
mod rustlua;

